<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ro-RO">
<head profile="http://gmpg.org/xfn/11">
<title>404 Error Pages</title>
<meta charset="utf-8"/>
<meta http-equiv="Content-Language" content="ro"/>
<meta name="robots" content="all,index,follow"/>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('error_page/js/impromptu/css.css') }}" />
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('error_page/style.css') }}" />

<!--[if lte IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="style_ie7.css" />
<![endif]-->
<script type="text/javascript" src="{{ asset('error_page/js/impromptu/jquery-impromptu.js') }}"></script>
<script type="text/javascript" src="{{ asset('error_page/js/jquery-global.js') }}"></script>

<!--[if IE]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>


<div class="wrapper">

	<div class="mainWrapper">
    
    	<div id="logo"><a href="/web/hkgbf_crm/admin/" title="">hkgbf_crm</a></div>
    
        <div class="mainHolder">
            <div class="message">Oooops....你访问的页面不存在！</div>
            <!-- end .message -->
            <div class="errorNumber">404</div> 
            <!-- end .errorNumber -->
            <!-- Search Form -->
           <!-- <div class="search">
            <form action="" method="post">
              <div class="searchInput">
                <input type="text" name="search_term" value="Search" />
              </div>
              <div class="searchButton">
                <input type="submit" name="submit" value="" />
              </div>
            </form>
            </div>-->
            <!-- end .search -->
            
            <div class="trafficLight">404 Error</div>
            
        </div>
        <!-- end .mainHolder -->
      
      
        <footer>
        <menu>
            <li><a href="/web/hkgbf_crm/admin/" title="Home">返回首页</a></li>
        </menu>
        </footer>
        <!-- end footer -->
	</div>
     <!-- end .mainWrapper -->

</div>
<!-- end .wrapper -->


</body>
</html>