<div class="col-lg-3 col-xs-6">
    <div class="small-box bg-green">
        <div class="inner">
            <h3>{{ agents|length }}</h3>
            <p><b>渠道代理</b></p>
        </div>
        <div class="icon">
            <i class="ion ion-person-add"></i>
        </div>
        <a href="{{ path('agentslist') }}" class="small-box-footer">
            查看详情 <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div>